.container{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:500px;
    width: 600px;
}

.header{
    background-color: rgb(90, 197, 230);
    height: 10%;
    display: flex;
    align-content:center;
}

.row{
    display: flex;
    height: 50%;
    width: 100%;
}
.navigation{
    background-color: rgb(226, 161, 41);
    width: 20%;
}

.article{
    background-color: rgb(235, 203, 100);
    width: 50%;
}

.aside{
    background-color: rgb(240, 230, 176);
    width: 30%;
}

.footer{
    background-color: rgb(43, 146, 177);
    height: 10%;
}